
.box{
    width: 400px;
    height: 600px;
    border: 1px solid black;
    overflow: hidden; 
    /* 봄버맨이 빠져나가지 않게 하는 것 */
}


#bomberman{
   width: 50px;
   height: 50px;
   background-color: transparent;
}